body {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    max-width: 300px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto 
}
button:hover {
    transition: .3s;
    transform: scale(1.1);
    background-color: red;
}
a{
    text-decoration: none;
}
.icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.icons img{
    max-width: 10%;
}
.icons img:hover {
    transition: .3s;
    color: blue;
    max-width: 9%;
}
.main_informacion {
    text-align: center;
}
h1{
     font-size: 50px;
}
.main_informacion a {
    color: black;
}
.main_informacion a:hover {
    transition: .3s;
    color: blue;
    font-size: 15px;
}

ul {
    margin: 33px 0;
    border-bottom: solid 1px black;
    padding-bottom: 25px;
}