:root {
    --primary: white;
    --secondary: black;
    --color_button: #00A651;

    --fontPrimary: "Open Sans", serif;

}


/*************/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
/*Header*/
.header_container{
    display: flex;
    align-items: center;
    color: var(--primary);
    padding: 30px 0;
    justify-content: space-around;
}
.header_container span {
    padding-right: 20px;
}
.logo {
    font-family: "Laila", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px; 
}
nav>ul {
    display: flex;
    align-items: center;
}
nav>ul li{
    list-style: none;
    padding-right: 30px;
    font-size: 20px;
    font-weight: 600;
}
/*End header*/

/*Main*/
.background{
    background: url(../img/7068366ba64ee543f9b7e27d5b4a40af.jpg) center center no-repeat;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    mask-image: linear-gradient(black 80%, transparent); /*Затемнил нижнюю часть картинки*/
}

.primer_section_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primary);
    padding: 20px;
    height:100%;
}
.primer_section_text h1 {
    font-size: clamp(22px, 20vw, 88px);
    text-align: center;
    font-weight: 800;
    font-family: var(--fontPrimary);
    
}
.primer_section_text p{
    font-size: 16px;
    padding-top: 40px;
}
.primer_section_text button{
    background-color: var(--color_button);
    font-size: 24px;
    margin-top: 30px;
    padding: 12px 55px;
    border-radius: 10px;
    border: none;
}
.primer_section_text a {
    text-decoration: none;
    color: var(--primary);
}
/*End main*/