body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.4234943977591037) 17%, rgba(0,212,255,1) 100%);
    
    text-align: center;
}
h1{
    background-color: white;
    border-radius: 20px;
    max-width: 30%;
    margin: 50px auto;
}
.main_container {
    background-color: white;
    max-width: 50%;
    margin: 0 auto;
    padding: 10px 20px;
}
.main_container h2 {
    color: grey;
    font-size: 35px;
}
.main_container li {
    text-align: left;
    list-style: none;
    background-color: grey;
    margin: 5px 0;
    transition: .5s;
    padding-left: 25px;
}
.main_container div {
    background-color: bisque;
    width: 100%;
    padding: 10px 0;
    transition: .5s;
}
.main_container span {
    padding-left: 15px;
}
.main_container li:hover {
    background-color: bisque;
}
.main_container div:hover {
    background-color: grey ;
}

#footer {
    padding-top: 35px;
}
#footer a{
    text-decoration: none;
    color: black;
}
#footer a:hover {
    color: white;
}
