body{
    background-color: blanchedalmond;
}
h1  {
    text-align: center;
    background-color: blue;
    color: blanchedalmond;
    padding: 10px 0;
}
h2, p {
    color: blanchedalmond;
    text-align: center;
}
.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 300px;
    background-color: red;
    text-align: center;
}
img {
    max-height: 200px;
    margin: 0 auto;
    padding-top: 25px;
    aspect-ratio: 1/1;
    object-fit: contain
    
}
.button-container {
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
}
button {
    background-color: blanchedalmond;
    border-radius: 20px;
    padding: 5px 20px;
    border: none;
}